/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Jun 2016, 5:54:02 PM
    Author     : kevin
*/
.form-control.cell-prefix {
  width: 75px; }

/* STORE SETUP */
/* payment details ================================== */
.sp-store-setup input#terms_conditions {
  float: left;
  display: block;
  width: auto;
  margin-right: 8px;
  margin-top: 5px; }
