// pallet
$color-copy: #333;
$color-subtext: #777;
$color-border: #ddd;
$color-light-gray: #eee;
$color-primary: #009eff;
$color-primary-hover: #0e7bb9;
$color-highlight: #00ffc0;
$color-secondary: #22d497;
$color-orange: #f5802d;
$color-pink: #f20c5d;
$color-white:#fff;
$color-blue: #0099f1;
$color-green: #22d497;
$dark-gray: #333;

// spacing
$xs-pad: 10px;
$sm-pad: 25px;
$md-pad: 35px;
$lg-pad: 50px;

$xs-mar: 10px;
$sm-mar: 25px;
$md-mar: 35px;
$lg-mar: 50px;
$xl-mar: 80px;

// breakpoints
$screen-xxs-max: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;